.categories-container {
  display: flex;
  flex-direction: column;
}

.category-nav {
  display: flex;
  justify-content: space-around;
}

.category-nav > a {
  color: #3b5249;
  text-decoration: none;
}
