.category-nav {
  margin-bottom: 12px;
  width: 100%;
  color: #333;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.category-nav > a {
  color: #3b5249;
  text-decoration: none;
  padding: 19px 0;
  font-size: 15px;
}

.category-nav a:hover {
  background-color:  #F7F2EB
}