.categories-container {
  display: flex;
  flex-direction: column;
}

.category-nav-container {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #333;
  margin-bottom: 12px;
}

.category-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.category-nav > a {
  color: #3b5249;
  text-decoration: none;
  padding: 19px 0;
  font-size: 15px;
}

.category-nav a:hover {
  background-color: #f7f2eb;
}
