.reward-project-title {
    text-align: center;
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: #fbfbfa;
    margin-top: 30px;
    margin-bottom: 100px;
}

.reward-project-title h1 {
    font-weight: 500;
}

.rewards-list-titles {
    margin-left: 120px
}

.rewards-list-titles h1 {
    font-weight: 500;
    margin-bottom: 0;
}

.rewards-list-titles p {
    margin-bottom: 25px;
    margin-top: 5px
}



