.reward-add-edit {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    padding-top: 10px;
    background-color: #f9f9f9;
}

/* h1 */
.reward-add-edit h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* h3 */
.reward-add-edit h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* input divs */
.reward-reward-input-div, .reward-input-div {
    margin-bottom: 20px;
}

/* label and input */
.reward-add-edit label {
    display: block;
    margin-bottom: 5px;
}

.reward-add-edit input[type="text"],
.reward-add-edit input[type="number"],
.reward-add-edit input[type="date"],
.reward-add-edit textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    margin-bottom: 2px;
}

.reward-add-edit textarea {
    height: 120px;
    resize: vertical;
}

.reward-errors p {
    color: #d9534f;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 15px;
}


.reward-add-edit button[type="submit"] {
    padding: 10px 15px;
    border: none;
    background-color: #068859;
    color: white;
    cursor: pointer;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.reward-add-edit button[type="submit"]:hover {
    background-color: #005738;
}


.reward-input-div img {
    max-width: 100%;
    margin-top: 10px;
}

.reward-input-div input[type='file'] {
    padding: 10px;
}


