.project-container {
  width: 850px;
  height: 350px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto 0rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.project-container a {
  text-decoration: none;
}

.project-container a:hover {
  text-decoration: none;
  color: #068859;
  text-decoration: underline;
}

.card-project-image {
  margin-right: 5rem;
}

.project-image {
  object-fit: contain;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.card-text-div {
  display: flex;
  flex-direction: column;
}

.card-titles > a {
  color: #3b5249;
}

.card-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card-stats > a {
  color: #3b5249;
}

.card-owner-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-owner-buttons > button {
  color: white;
  background-color: #068859;
  border: none;
  /* width: 100%; */
  width: 120px;
  padding: .75rem;
  cursor: pointer;
}
