#new-comment-button {
  color: white;
  background-color: #068859;
  border: none;
  width: 100%;
  max-width: 170px;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.new-comment-div {
  height: 4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.new-comment-div textarea {
  height: 4rem;
  width: 100%;
}

.new-comment-div button {
  color: white;
  background-color: #068859;
  border: none;
  cursor: pointer;
  max-width: 100px;
  padding: .5rem;
}

.comments-submit-cancel {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  /* margin-bottom: 1rem; */
}