.profile-dropdown {
  position: absolute;
  margin-top: 2.4rem;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #068859;
  padding-top: 8px;
  justify-self: center;
}

.new-project {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  background-color: #068859;
  color: white;
  text-decoration: none;
}

.new-project:hover {
  background-color: #005738;
}

.new-project-menu .empty {
  display: flex;
  gap: 5px;
  min-width: 182px;
}
