.profile-dropdown {
  position: absolute;
  margin-top: 2.4rem;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #068859;
  padding-top: 8px;
}

.new-project {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  background-color: #068859;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.new-project-menu {
  display: flex;
  gap: 5px;
}
