.profile-dropdown {
  position: absolute;
  right: -1.5rem;
  top: 5rem;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
}
/* 
.nav-container li {
  flex: 1;
} */

.new-project-button-li {
  margin-left: auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: #068859;
}

.logo-li {
  display: flex;
  padding-left: 1rem;
  padding-right: 2rem;
}

.new-project {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  background-color: #068859;
  color: white;
  text-decoration: none;
}

.new-project:hover {
  background-color: #005738;
}

.new-project-menu .empty {
  display: flex;
  gap: 5px;
  min-width: 182px;
}

.search-li {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 1rem;
  padding: 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
  height: 40px;
}
