.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0px;
  align-items: center;
  padding: 5px 5px 5px 5px;
  margin-right: 40px;
  gap: 5px;
}

.login-logout {
  min-width: 60px;
}

.menu {
  padding: 10px 20px 10px 20px;
  margin-right: 3.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.lo-button {
  display: flex;
  background-color: #068859;
  border: none;
  color: white;
  cursor: pointer;
}

.text {
  padding-left: 0px;
}

.text-email {
  padding-left: 0px;
  margin-bottom: 8px;
}

.manage-projects {
  padding-left: 0px;
}

.logout-button {
  padding-left: 0px;
}

.buttoncontainer {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.manage-nav {
  text-decoration: none;
  color: black;
  padding-top: 3px;
}

ul {
  list-style-type: none;
}

.root {
  max-width: fit-content;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px 20px 10px 20px;
}
